.button-group{
  align-self: flex-end;
}

#button {
  margin-left: 20px;
  background-color: white;
  font-family: OpenSans;
  font-size: 19px;
  color: #4e2a84;
  padding-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  border-bottom: 3px solid #4e2a84;
}

.logonav {
  padding-left: 20px;
  padding-bottom: 5px;

