.button-group {
  position: relative;
}

#buttons {
  margin-left: 5px;
}

.logo {
  /* bottom: -30px !important; */
  vertical-align: bottom;
}
.banner {
  margin-bottom: 40px;
  margin-top: 30px;
}
