
#one {
  background-color: #f2f2f2;
  padding: 60px 10% 0;
  font-family: OpenSans;
  color: #6d6f73;
  height: 350px;
}

#head{
  font-family: OpenSans;
  font-size: 25px;
  color: #4e2a84;
} 

/* formatting for upload  */
#purple {
  /* width: 30%;
  align-content: center; */
  border: 3px #4e2a84 solid;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* margin-top: 50px;
  padding: 30px;
  text-align: center;
  margin-bottom: 250px; */
  width: 50%;
  padding: 80px 0;
}


#button-group.ui.buttons{
  width: 60%;
  margin: 0 20%;
}

.formbut {
  margin: 10px !important;
  background-color: white !important;
  box-shadow: 1px 1px 1px 1px #4e2a84 !important;
  color: black !important;
}

#inf{
  text-align: center;
}

@media screen and (min-width: 1550px) {
  #head{
    padding-top: 50px;
  }
  .inf{
    text-align: center !important;
  }
}