.m-but {
  background-color: white !important;
  border: 2px solid purple !important;
}
.def {
  background-color: rgb(235, 235, 235);
  border: 3px purple solid;
  background-color: blue !important;
}
#des {
  font-weight: bold;
}

#but-modal {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

#first {
  margin-left: 0px;
  font-weight: bold;
  align-items: left;
}
#jus-right {
  margin-left: 346px !important;
  padding: 0px !important;
}
#div-1 {
  margin-right: 0px !important;
  padding-right: 0px !important;
}
