/* #carousel{
  /* width: 5px !important;
  height: 100px !important;
} */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 150px;
  width: 190px;
}

.feat-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
