/* #search-bar1 {
  position: absolute !important;
  bottom: 160px !important;
  background-color: yellow !important;
  font-weight: bold !important;
  border: 3px white solid;
  width: 50% !important;
  height: 50px !important;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  margin-top: 100px;
  border-radius: 0px !important;
  margin-left: 25% !important;
  z-index: -1
} */


#search-bar1 {
  position: relative;
  bottom: 180px !important;
  width: 50% !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 27% !important;
  display: grid;
  grid-template-columns: 90% 10%;
  display: grid;
}
#search-box {
  background-color: purple;
  display: inline-block !important;
  width: 500px !important;
  position: unset !important;
  margin-right: 5% !important;
  margin-left: 5% !important;
}
#search-in {
  width: 50%;
  background-color: white;
  position: absolute !important;
  bottom: 140px !important;
  margin-left: 25% !important;
  color: black !important;
  filter: brightness(100%) !important;
}
#cats {
  position: relative !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
  bottom: 0px !important;
  background-color: transparent;
  align-items: center !important;
  margin-top: 0px !important;
}
#icon {
  width: 5% !important;
  height: 5% !important;
  margin-left: 47% !important;
}

.header1 {
  color: white !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
}
#top {
  bottom: 63% !important;
}
#bottom {
  bottom: 56% !important;
  font-size: 24pt;
}
.search-bar2 {
  position: absolute !important;
  font-weight: bolder !important;
  color: white !important;
  width: 50% !important;
  height: 50px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
  border-radius: 0px !important;
  margin-left: 25% !important;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 50% 50% 50%;
  align-items: center;
  grid-row-gap: 1ch;
}
.small-grid {
  display: grid;
  grid-gap: 10px;
  width: 250px;
  height: 150px;
  border: 3px #4e2a84 solid !important;
  background-color: rgb(238, 237, 237) !important;
}

.cat-but {
  color: black !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 26px;
}
.Fullsearch {
  position: relative;
}
#data {
  text-align: center;
  text-decoration: bold;
  margin-top: 10px !important;
}
h3 {
  font-family: Lato !important;
}

#image {
  width: 100% !important;
  object-fit: fill !important;
  min-width: 100vh;
  filter: brightness(80%) !important;
}

#dataset {
  width: 25%;
  border-radius: 10px;
  padding: 14px 35px;
  background-color: rgb(208, 207, 232);
  height: 70px;
  justify-content: center;
  align-content: center;
}

.featured-datasets {
  margin-top: 25px;
}
.d_container {
  align-content: center !important;
}

#center {
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}
