.form-but {
  margin: 10px !important;
  background-color: white !important;
  box-shadow: 1px 1px 1px 1px #4e2a84 !important;
  color: black !important;
}

.hi {
  margin-top: 20px;
}

.logo1 {
  margin-top: -10px !important;
  margin-bottom: 10px !important;
  width: 150px !important;
}
